In [1]:
import pandas as pd

In [2]:
import numpy as np

In [21]:
data=pd.read_csv(r"C:\Users\dell\Downloads\movies.csv")

In [23]:
data

              V1             V2             V3          V4     V5
0    Sixth Sense          LOTR1  Harry Potter1  Green Mile  LOTR2
1      Gladiator        Patriot     Braveheart         NaN    NaN
2          LOTR1          LOTR2            NaN         NaN    NaN
3      Gladiator        Patriot    Sixth Sense         NaN    NaN
4      Gladiator        Patriot    Sixth Sense         NaN    NaN
5      Gladiator        Patriot    Sixth Sense         NaN    NaN
6  Harry Potter1  Harry Potter2            NaN         NaN    NaN
7      Gladiator        Patriot            NaN         NaN    NaN
8      Gladiator        Patriot    Sixth Sense         NaN    NaN
9    Sixth Sense           LOTR      Gladiator  Green Mile    NaN

In [24]:
type(data)

pandas.core.frame.DataFrame

In [25]:
record=[]
for i in range (0,9):
    record.append([str(data.values[i,j]) for j in range(0,5)])

In [26]:
record

[['Sixth Sense', 'LOTR1', 'Harry Potter1', 'Green Mile', 'LOTR2'],
 ['Gladiator', 'Patriot', 'Braveheart', 'nan', 'nan'],
 ['LOTR1', 'LOTR2', 'nan', 'nan', 'nan'],
 ['Gladiator', 'Patriot', 'Sixth Sense', 'nan', 'nan'],
 ['Gladiator', 'Patriot', 'Sixth Sense', 'nan', 'nan'],
 ['Gladiator', 'Patriot', 'Sixth Sense', 'nan', 'nan'],
 ['Harry Potter1', 'Harry Potter2', 'nan', 'nan', 'nan'],
 ['Gladiator', 'Patriot', 'nan', 'nan', 'nan'],
 ['Gladiator', 'Patriot', 'Sixth Sense', 'nan', 'nan']]

In [27]:
from apyori import apriori

In [28]:
association_rules = apriori(record, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)
print(len(association_results))

23

In [29]:
print(association_results[0])

RelationRecord(items=frozenset({'Green Mile', 'Harry Potter1'}), support=0.1111111111111111, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Green Mile'}), items_add=frozenset({'Harry Potter1'}), confidence=1.0, lift=4.5), OrderedStatistic(items_base=frozenset({'Harry Potter1'}), items_add=frozenset({'Green Mile'}), confidence=0.5, lift=4.5)])

In [30]:
import matplotlib.pyplot as plt

In [31]:
for item in association_results:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: Green Mile -> Harry Potter1
Support: 0.1111111111111111
Confidence: 1.0
Lift: 4.5
=====================================
Rule: LOTR1 -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 4.5
=====================================
Rule: Green Mile -> LOTR2
Support: 0.1111111111111111
Confidence: 1.0
Lift: 4.5
=====================================
Rule: Harry Potter1 -> Harry Potter2
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: LOTR1 -> LOTR2
Support: 0.2222222222222222
Confidence: 1.0
Lift: 4.5
=====================================
Rule: LOTR1 -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: Green Mile -> LOTR2
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: Sixth Sense -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: LOTR1 -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 4.5
=====================================
Rule: LOTR1 -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: Sixth Sense -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: nan -> Harry Potter1
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: LOTR1 -> LOTR2
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: LOTR1 -> Harry Potter1
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: Sixth Sense -> LOTR2
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: LOTR1 -> LOTR2
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: LOTR1 -> LOTR2
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: LOTR1 -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: LOTR1 -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: Sixth Sense -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: LOTR1 -> Green Mile
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================
Rule: LOTR1 -> LOTR2
Support: 0.1111111111111111
Confidence: 0.5
Lift: 4.5
=====================================
Rule: LOTR2 -> Harry Potter1
Support: 0.1111111111111111
Confidence: 1.0
Lift: 9.0
=====================================